#message-board {
  position: relative;
  width: 100%;
  margin: auto;
  height: calc(100vh - 64px);
  background: #ecf0f1;
  border-radius: 8px;

  .group-info-area {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #111;

    .group-name,
    .group-members {
      display: flex;
      align-items: center;
    }

  }

  .messages-list {
    position: absolute;
    width: 100%;
    height: calc(100% - 50px - 75px);
    left: 0;
    top: 50px;
  }

  .new-message-area {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 75px;

    .input-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      input[type="text"] {
        width: 100%;
        height: 40px;
        border: none;
        margin: 10px;
        border-radius: 15px;
        padding: 3px;
      }
    }

    .send-button-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .send-button {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        background: #3498db;

        * {
          color: #ffffff;
        }
      }
    }

  }

  .message-self {
    width: 100%;
    min-height: 75px;
    padding: 10px;
    position: relative;

    .message-row {
      position: absolute;
      right: 0;
      top: 0;
      width: 80%;
      padding: 10px;
      display: flex;
      flex-direction: row-reverse;
      text-align: right;

      .user-profile-image {
        display: flex;
        align-items: center;
      }

      .message-content {
        background: #3498db;
        padding: 5px;
        margin: 10px;
        border-radius: 5px;
        width: 100%;

        * {
          color: #ffffff
        }
      }
    }
  }

  .message-other {
    width: 100%;
    min-height: 75px;
    padding: 10px;
    position: relative;

    .message-row {
      position: absolute;
      left: 0;
      top: 0;
      width: 80%;
      padding: 10px;
      display: flex;
      flex-direction: row;
      text-align: left;

      .user-profile-image {
        display: flex;
        align-items: center;
      }

      .message-content {
        background: #ffffff;
        padding: 5px;
        margin: 10px;
        border-radius: 5px;
        width: 100%;

        * {
          color: #000000;
        }
      }
    }
  }
}